#footer-thankyou,#login >h1,#footer-thankyou
{
	display:none !important;
}
body#tinymce.wp-editor pre.EnlighterJSRAW:before { 
  display:none !important;
}
body#tinymce.wp-editor pre { 
  background-image:none;
	font-size: 15px !important;
    text-align: left;
    direction: ltr;
    background-color: #ebe8e8 !important;
    padding: 20px;
}
body,h1,.wp-menu-name{
	    font-family: iransans !important;
}