@font-face {
    font-family: 'irsans';
    font-style: normal;
    font-weight: 300;
    src: url('IRANSans-web.eot');
    /* IE9 Compat Modes */
    src: url('IRANSans-web.eot?#iefix') format('embedded --output-pathentype'), /* IE6-IE8 */
    url('IRANSans-web.woff2') format('woff2'), /* Super Modern Browsers */
    url('IRANSans-web.woff') format('woff'), /* Pretty Modern Browsers */
    url('IRANSans-web.ttf') format('truetype');
    /* Legacy iOS */
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span:not(.glyphicon),
div,
header,
footer,
ul,
li,
a,
input,
p,
input,
form {
    font-family: irsans !important;
    color: #666;
}